SOAPractice/BillingManagementSystem/SOA/Schemas/BiilingSystemBPELProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/SOAPractice/BillingManagementSystem/BiilingSystemBPELProcess"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="bsRequest">
    <complexType>
      <sequence>
        <element name="ordID" type="integer"/>
        <element name="itemInfo" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element name="itemName" type="string"/>
              <element name="itemcost" type="integer"/>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="bsResponse">
    <complexType>
      <sequence>
        <element name="ordID" type="integer"/>
        <element name="itemInfo" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element name="itemName" type="string"/>
              <element name="itemcost" type="integer"/>
            </sequence>
          </complexType>
        </element>
        <element name="totalCost" type="integer"/>
      </sequence>
    </complexType>
  </element>
</schema>